[submodule "ratio"]
	path = ratio
	url = https://github.com/gaospecial/ratio.git
[submodule "deg"]
	path = deg
	url = https://github.com/gaospecial/community-convergence.git
[submodule "bacteria-ID"]
	path = bacteria-ID
	url = https://github.com/csho33/bacteria-ID.git
[submodule "SegVeg"]
	path = SegVeg
	url = https://github.com/mserouar/SegVeg
